
// key_visual
.keyvisual{
  background-image: url(../images/keyvisual.webp);
  background-position: 50% 44%;
  background-size: cover;
  color: $bc-white;
}

.kv__inner-mask{
  background-color: $mask-black;
  padding: 237px 24px 152px;
}
.kv__ttl{
  font-size: 48px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 580px;
  margin: 0 auto 48px;
  @include sp{
    font-size: 32px;
    margin-bottom: 24px;
  }
}
.kv__subttl{
  font-size: 20px;
  line-height: 2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  max-width: 580px;
  margin: 0 auto;
  @include sp{
    font-size: 16px;
  }
}
// keyvisual end

// service

.service{
  padding: 48px 24px 64px;
  background-color: $bc-glay;
  @include sp{
      padding: 24px 24px 48px;
  }
}

.serv__description{
  font-size: 20px;
  line-height: 2;
  max-width: 650px;
  margin:0 auto 24px;
  text-align: center;
  @include sp{
    font-size: 16px;
  }
}

.serv__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
  @include tab{
    flex-wrap: wrap;
    gap: 24px;
    max-width: 650px;
    margin: 0 auto 24px;
  }
  @include sp{
    max-width: 100%;
  }
}
.serv__card{
  border: 1px solid $bc-glay;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px;
  background-color: $bc-white;
  width: 33.3%;
  @include tab{
    width: 100%;
  }
  .fas{
    display: block;
  }
  .far{
    display: block;
  }
}
.serv__card-icon{
  font-size: 63px;
  color: $mc-green;
  margin-bottom: 16px;
  text-align: center;
}
.serv__card-ttl{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  @include tab{
    font-size: 20px;
  }
}
.serv__card-description{
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}
// service end

// feature
.feature{
  background-color: $bc-white;
  padding: 48px 24px 64px;
  @include sp{
      padding: 24px 24px 48px;
  }
}
.fea__contents{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include tab{
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto 24px;
  }
  @include sp{
    max-width: 100%;
  }
}
.fea__card{
  border: 1px solid $bc-glay;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 24px 24px 24px;
  background-color: $bc-white;
  width: 33.3%;
  @include tab{
    width: 100%;
  }
}
.fea__card-number{
  background-color: $mc-green;
  width: 70px;
  font-size: 40px;
  color: $bc-white;
  padding: 3px 0;
  text-align: center;
  border-radius: 100px;
  margin: 0 auto;
  position: relative;
  top:-30px;
}
.fea__card-ttl{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
.fea__card-description{
  li{
    margin-left: 24px;
    font-size: 16px;
    line-height: 2;
  }
}
// feature end

// works
.works{
  padding: 48px 24px 64px;
  background-color: $bc-glay;
  @include sp{
      padding: 24px 24px 48px;
  }
}
.works__contents{
  display: flex;
  justify-content: space-between;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 48px;
  @include sp{
      gap: 24px;
  }
}
.works__card{
  width: 50%;
  border: 1px solid $bc-glay;
  @include sp{
      width: 100%;
  }
}
.works__card-inner{
  background-color: $mask-black;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: $mask-dark-black;
  }
}
.works__card-ttl{
  h3{
    font-size: 20px;
    color: $bc-white;
    padding: 104px 0;
    text-align: center;
  }
}

.works__recycle{
  background-image: url(../images/ecohybe.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works__smart{
  background-image: url(../images/smartordee.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works__orgatask{
  background-image: url(../images/OrgaTask.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works__bakely{
  background-image: url(../images/bourangerie.webp);
  background-size: cover;
  background-position: 0 40%;
}
// works end

// price
.price{
  padding: 48px 24px 64px;
  background-color: $bc-white;
  @include sp{
      padding: 24px 24px 48px;
  }
}
.price__contents{
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include tab{
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto 48px auto;
  }
}
.price__card{
  width: 33.3%;
  background-color: $bc-white;
  border:1px solid $bc-glay;
  padding: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  @include tab{
    width: 100%;
  }
  @include sp{
    padding: 16px;
  }
}
.price__card-label{
  background-color: $ac-yellow;
  color: $bc-white;
  font-weight: 600;
  padding: 0 16px;
  position: absolute;
  top: 8px;
  left: -8px;
  transform: rotate(-20deg);
}
.price__card-ttl{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
  @include sp{
    font-size: 20px;
  }
  span{
    position: relative;
    top: 0px;
    font-size: 16px;
    font-weight: normal;
  }
}
.price__card-number{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: $mc-green;
  margin-bottom: 16px;
  @include sp{
    font-size: 20px;
  }
}
.price__card-text{
  font-size: 16px;
  margin-bottom: 16px;
}
.price__card-description{
  li{
    margin-left: 24px;
    font-size: 16px;
    line-height: 2;
  }
}
// price end

// information
.information{
  padding: 48px 24px 64px;
  background-color: $bc-glay;
  @include sp{
    padding: 24px 24px 48px;
  }
}
.info__contents{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  @include sp{
    gap: 24px;
    flex-wrap: wrap;
  }
}
.info__img{
  width: 40%;
  @include sp{
      width: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
}
.info__text{
  width: 60%;
  align-self: center;
  @include sp{
      width: 100%;
  }
  li{
    margin-left: 24px;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 16px;
    @include sp{
      font-size: 16px;
    }
  }
}
// delete
.information{
  .info_wrapper{
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
    ul{
      @include sp{
        margin-left: 30px; 
      }
      li{
        margin-bottom: 20px;
        color: $MainColor;
      }
    }
  }
}
// information end

// アニメーション
.fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show{
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0; 
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show{
  opacity: 1;
  transform: translateY(0);
}