@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 16px;
  font-weight: 500;
  color: #1c1e31;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #1c1e31;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #1c1e31;
}

input, textarea {
  padding: 8px;
  border: 1px solid #1c1e31;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #1c1e31;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #1c1e31;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #1c1e31;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #1c1e31;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #1c1e31;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #1c1e31;
  border-bottom: 3px solid #1c1e31;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #1c1e31;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #1c1e31;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

main {
  background-color: #ffffff;
}

/*
    モジュール
*/
.inner--small {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.inner--large {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.section-ttl {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1;
  text-align: center;
}
@media (max-width: 992px) {
  .section-ttl {
    font-size: 32px;
  }
}
.section-ttl span {
  font-size: 20px;
  font-weight: 500;
}

.cta {
  padding: 48px 24px 64px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .cta {
    padding: 24px 24px 48px;
  }
}

.cta__ttl {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .cta__ttl {
    font-size: 24px;
  }
}

.cta__text {
  max-width: 650px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 48px;
  line-height: 2;
}
@media (max-width: 768px) {
  .cta__text {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.cta-btn {
  max-width: 496px;
  width: 100%;
  background-color: #1abc9c;
  color: #ffffff;
  display: block;
  border: 1px solid #1abc9c;
  margin: 0 auto;
  display: block;
  padding: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cta-btn {
    font-size: 16px;
    padding: 16px;
    max-width: 650px;
  }
}
@media (max-width: 768px) {
  .cta-btn {
    max-width: 100%;
  }
}
.cta-btn:hover {
  background-color: #ffffff;
  color: #1abc9c;
  box-shadow: none;
}

.hed2 {
  text-align: center;
  color: #2c3e50;
  font-size: 32px;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768px) {
  .hed2 {
    font-size: 24px;
  }
}
.hed2 span {
  position: relative;
  top: -20px;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .hed2 span {
    font-size: 16px;
  }
}

.inner_mask {
  background-color: rgba(54, 54, 54, 0.6);
}

.hed_img .hed_img_inner {
  padding: 130px 60px 40px 60px;
  background-color: rgba(54, 54, 54, 0.6);
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner {
    padding: 80px 30px 30px 30px;
  }
}
.hed_img .hed_img_inner h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner h2 {
    font-size: 20px;
  }
}
.hed_img .hed_img_inner h2 span {
  position: relative;
  top: -20px;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner h2 span {
    font-size: 18px;
    top: -10px;
  }
}

.det_con_cards {
  background-color: #fff;
  padding: 60px;
}
@media (max-width: 768px) {
  .det_con_cards {
    padding: 0;
  }
}
.det_con_cards .det_con_card {
  padding: 30px 60px;
  background-color: #f7f9fb;
  margin: 0 auto 60px auto;
  max-width: 680px;
  width: 100%;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card {
    padding: 30px;
  }
}
.det_con_cards .det_con_card:last-child {
  margin-bottom: 0;
}
.det_con_cards .det_con_card h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Noto Serif JP", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.det_con_cards .det_con_card .highlight {
  border: 2px solid #1abc9c;
  color: #1abc9c;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card .highlight {
    margin-bottom: 20px;
  }
}
.det_con_cards .det_con_card .card_text {
  margin-bottom: 30px;
}
.det_con_cards .det_con_card h4 {
  margin-bottom: 5px;
}
.det_con_cards .det_con_card ul {
  margin-bottom: 30px;
  margin-left: 30px;
}

.keyvisual {
  background-image: url(../images/keyvisual.webp);
  background-position: 50% 44%;
  background-size: cover;
  color: #ffffff;
}

.kv__inner-mask {
  background-color: rgba(54, 54, 54, 0.7);
  padding: 237px 24px 152px;
}

.kv__ttl {
  font-size: 48px;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 580px;
  margin: 0 auto 48px;
}
@media (max-width: 768px) {
  .kv__ttl {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

.kv__subttl {
  font-size: 20px;
  line-height: 2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  max-width: 580px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .kv__subttl {
    font-size: 16px;
  }
}

.service {
  padding: 48px 24px 64px;
  background-color: #f7f9fb;
}
@media (max-width: 768px) {
  .service {
    padding: 24px 24px 48px;
  }
}

.serv__description {
  font-size: 20px;
  line-height: 2;
  max-width: 650px;
  margin: 0 auto 24px;
  text-align: center;
}
@media (max-width: 768px) {
  .serv__description {
    font-size: 16px;
  }
}

.serv__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .serv__contents {
    flex-wrap: wrap;
    gap: 24px;
    max-width: 650px;
    margin: 0 auto 24px;
  }
}
@media (max-width: 768px) {
  .serv__contents {
    max-width: 100%;
  }
}

.serv__card {
  border: 1px solid #f7f9fb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px;
  background-color: #ffffff;
  width: 33.3%;
}
@media (max-width: 992px) {
  .serv__card {
    width: 100%;
  }
}
.serv__card .fas {
  display: block;
}
.serv__card .far {
  display: block;
}

.serv__card-icon {
  font-size: 63px;
  color: #1abc9c;
  margin-bottom: 16px;
  text-align: center;
}

.serv__card-ttl {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
@media (max-width: 992px) {
  .serv__card-ttl {
    font-size: 20px;
  }
}

.serv__card-description {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}

.feature {
  background-color: #ffffff;
  padding: 48px 24px 64px;
}
@media (max-width: 768px) {
  .feature {
    padding: 24px 24px 48px;
  }
}

.fea__contents {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 992px) {
  .fea__contents {
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto 24px;
  }
}
@media (max-width: 768px) {
  .fea__contents {
    max-width: 100%;
  }
}

.fea__card {
  border: 1px solid #f7f9fb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 24px 24px 24px;
  background-color: #ffffff;
  width: 33.3%;
}
@media (max-width: 992px) {
  .fea__card {
    width: 100%;
  }
}

.fea__card-number {
  background-color: #1abc9c;
  width: 70px;
  font-size: 40px;
  color: #ffffff;
  padding: 3px 0;
  text-align: center;
  border-radius: 100px;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.fea__card-ttl {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.fea__card-description li {
  margin-left: 24px;
  font-size: 16px;
  line-height: 2;
}

.works {
  padding: 48px 24px 64px;
  background-color: #f7f9fb;
}
@media (max-width: 768px) {
  .works {
    padding: 24px 24px 48px;
  }
}

.works__contents {
  display: flex;
  justify-content: space-between;
  gap: 0;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .works__contents {
    gap: 24px;
  }
}

.works__card {
  width: 50%;
}
@media (max-width: 768px) {
  .works__card {
    width: 100%;
  }
}

.works__card-inner {
  background-color: rgba(54, 54, 54, 0.7);
  transition: all 0.3s ease-in-out;
}
.works__card-inner:hover {
  background-color: rgba(26, 188, 156, 0.5);
}

.works__card-ttl h3 {
  font-size: 20px;
  color: #ffffff;
  padding: 104px 0;
  text-align: center;
}

.works__recycle {
  background-image: url(../images/recycle_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}

.works__cafe {
  background-image: url(../images/cafe_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}

.works__dental {
  background-image: url(../images/dentaloffice_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}

.works__bakely {
  background-image: url(../images/bakely_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}

.price {
  padding: 48px 24px 64px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .price {
    padding: 24px 24px 48px;
  }
}

.price__contents {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 992px) {
  .price__contents {
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto 48px auto;
  }
}

.price__card {
  width: 33.3%;
  background-color: #ffffff;
  border: 1px solid #f7f9fb;
  padding: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
@media (max-width: 992px) {
  .price__card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .price__card {
    padding: 16px;
  }
}

.price__card-label {
  background-color: #f1c40f;
  color: #ffffff;
  font-weight: 600;
  padding: 0 16px;
  position: absolute;
  top: 8px;
  left: -8px;
  transform: rotate(-20deg);
}

.price__card-ttl {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .price__card-ttl {
    font-size: 20px;
  }
}
.price__card-ttl span {
  position: relative;
  top: 0px;
  font-size: 16px;
  font-weight: normal;
}

.price__card-number {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #1abc9c;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .price__card-number {
    font-size: 20px;
  }
}

.price__card-text {
  font-size: 16px;
  margin-bottom: 16px;
}

.price__card-description li {
  margin-left: 24px;
  font-size: 16px;
  line-height: 2;
}

.information {
  padding: 48px 24px 64px;
  background-color: #f7f9fb;
}
@media (max-width: 768px) {
  .information {
    padding: 24px 24px 48px;
  }
}

.info__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 768px) {
  .info__contents {
    gap: 24px;
    flex-wrap: wrap;
  }
}

.info__img {
  width: 40%;
}
@media (max-width: 768px) {
  .info__img {
    width: 100%;
  }
}
.info__img img {
  width: 100%;
  height: auto;
}

.info__text {
  width: 60%;
  align-self: center;
}
@media (max-width: 768px) {
  .info__text {
    width: 100%;
  }
}
.info__text li {
  margin-left: 24px;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .info__text li {
    font-size: 16px;
  }
}

.information .info_wrapper {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}
@media (max-width: 768px) {
  .information .info_wrapper ul {
    margin-left: 30px;
  }
}
.information .info_wrapper ul li {
  margin-bottom: 20px;
  color: #2c3e50;
}

.fadein {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-fadein {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.scroll-fadein.show {
  opacity: 1;
  transform: translateY(0);
}

/*
    header
*/
.header {
  padding: 24px 24px 8px;
  background-color: #1c1e31;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 768px) {
  .header {
    padding: 8px 24px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo a {
  display: block;
  width: 254px;
  height: 70px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .header__logo a {
    width: 200px;
    padding-top: 8px;
  }
}
.header__logo a:hover {
  opacity: 0.7;
}
.header__logo a img {
  width: 100%;
  height: auto;
}

.header__nav {
  margin-top: 8px;
}

.menu-toggle {
  display: none;
}
@media (max-width: 992px) {
  .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 56px;
    width: 48px;
    padding: 0;
    position: relative;
    z-index: 100;
  }
}

.menu-icon {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}

.menu-label {
  font-size: 14px;
  color: #ffffff;
  padding: 0 7px;
  transition: all 0.3s ease-in-out 0s;
}

.header__nav-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-links li {
  list-style: none;
}
@media (max-width: 992px) {
  .header__nav-links li {
    width: 100%;
  }
}
.header__nav-links li a {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 8px;
  transition: all 0.3s ease-in-out;
}
.header__nav-links li a:hover {
  border-bottom: 2px solid #ffffff;
}
@media (max-width: 992px) {
  .header__nav-links li a {
    font-size: 16px;
    transform: rotate(0.05deg);
  }
}

@media (max-width: 992px) {
  .active .menu-toggle .menu-icon:nth-child(1) {
    transform: translateY(0) rotate(225deg);
    position: absolute;
    top: 10px;
  }
  .active .menu-toggle .menu-icon:nth-child(2) {
    transform: translateY(0) rotate(-225deg);
  }
  .active .menu-toggle .menu-icon:nth-child(3) {
    display: none;
  }
}
@media (max-width: 992px) {
  .active .header__nav-links {
    display: block;
    position: absolute;
    height: 100vh;
    background-color: rgba(44, 62, 86, 0.9);
    top: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .active li a {
    display: block;
    padding: 24px;
    border-bottom: 1px solid #fff;
  }
}

/*
    header end
*/
/*
    footer
*/
.footer {
  background-color: #1c1e31;
  padding: 48px 24px 64px;
}

.footer__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .footer__contents {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__logo a {
  display: block;
  width: 254px;
  height: 70px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .footer__logo a {
    margin: 0 auto 48px auto;
  }
}
.footer__logo a:hover {
  opacity: 0.7;
}
.footer__logo a img {
  width: 100%;
  height: auto;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 992px) {
  .footer__list {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .footer__list {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .footer__list li {
    width: 100%;
  }
}
.footer__list a {
  color: #ffffff;
  padding-bottom: 8px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .footer__list a {
    display: block;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #ffffff;
  }
}
.footer__list a:hover {
  border-bottom: 2px solid #ffffff;
}

.footer__text {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

/*
    footer end
*/
.servicing {
  padding: 158px 24px 64px;
  background-color: #ffffff;
}

.servicing__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 48px;
}
@media (max-width: 992px) {
  .servicing__contents {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.servicing__contents:last-child {
  margin-bottom: 0;
}

.servicing__cont-img {
  width: 40%;
}
@media (max-width: 992px) {
  .servicing__cont-img {
    width: 100%;
    padding: 0 20%;
  }
}
@media (max-width: 768px) {
  .servicing__cont-img {
    padding: 0;
  }
}
.servicing__cont-img img {
  width: 100%;
  height: auto;
}

.order1 {
  order: 1;
}
@media (max-width: 992px) {
  .order1 {
    order: 2;
  }
}

.order2 {
  order: 2;
}
@media (max-width: 992px) {
  .order2 {
    order: 1;
  }
}

.servicing__cont-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .servicing__cont-text {
    width: 100%;
  }
}

.servicing__text-ttl {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .servicing__text-ttl {
    text-align: center;
    margin-bottom: 16px;
  }
}

.servicing__text-copy {
  color: #1abc9c;
  font-size: 20px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .servicing__text-copy {
    margin-bottom: 16px;
  }
}

.servicing__text-description {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .servicing__text-description {
    margin-bottom: 16px;
  }
}

.servicing__text-list li {
  line-height: 2;
  margin-left: 24px;
}

.bg-glay {
  background-color: #f7f9fb;
}

.recruiting {
  padding: 154px 24px 64px;
  background-color: #ffffff;
}

.recruiting__contents {
  background-color: #f7f9fb;
  padding: 48px;
  margin-bottom: 48px;
}

.recruiting__contents-ttl {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 1;
  text-align: center;
}
@media (max-width: 992px) {
  .recruiting__contents-ttl {
    font-size: 24px;
  }
}
.recruiting__contents-ttl span {
  font-size: 16px;
  font-weight: 500;
}

.recruiting__kind {
  margin-bottom: 48px;
}
.recruiting__kind:last-child {
  margin-bottom: 0;
}

.recruiting__kind-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.recruiting__kind-detail li {
  margin-bottom: 16px;
  margin-left: 24px;
}

.pricing {
  padding: 158px 24px 64px;
  background-color: #f7f9fb;
}
@media (max-width: 768px) {
  .pricing {
    padding-bottom: 48px;
  }
}

.pricing__card {
  margin-bottom: 48px;
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .pricing__card {
    flex-wrap: wrap;
  }
}
.pricing__card:last-child {
  margin-bottom: 0;
}

.pricing__head-area {
  width: 30%;
  color: #ffffff;
  padding: 48px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .pricing__head-area {
    width: 100%;
    padding: 24px;
  }
}

.green-box {
  background-color: #1abc9c;
}

.navy-box {
  background-color: #1c1e31;
}

.yellow-box {
  background-color: #f1c40f;
}

.pricing__head-ttl {
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 1;
}
@media (max-width: 992px) {
  .pricing__head-ttl {
    font-size: 24px;
  }
}
.pricing__head-ttl span {
  font-size: 24px;
}
@media (max-width: 992px) {
  .pricing__head-ttl span {
    font-size: 16px;
  }
}

.pricing__head-subttl li {
  margin-bottom: 16px;
  margin-left: 16px;
}
@media (max-width: 992px) {
  .pricing__head-subttl li {
    max-width: 550px;
    margin: 0 auto;
    margin-left: 16px;
  }
}

.pricing__description-area {
  width: 70%;
  padding: 24px 48px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .pricing__description-area {
    width: 100%;
    padding: 24px;
  }
}

.pricing__description-ttl {
  font-size: 20px;
  font-weight: 500;
}

.pricing__description-list {
  margin-bottom: 16px;
}
.pricing__description-list li {
  margin-left: 24px;
}

.working {
  padding: 158px 24px 64px;
  background-color: #f7f9fb;
}

.working__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .working__contents {
    gap: 24px;
  }
}

.working__card {
  width: 50%;
  display: block;
}
@media (max-width: 768px) {
  .working__card {
    width: 100%;
  }
}

.working__card-inner {
  background-color: rgba(54, 54, 54, 0.7);
  padding: 100px 24px;
  transition: all 0.3s ease-in-out;
}
.working__card-inner:hover {
  background-color: rgba(26, 188, 156, 0.5);
}

.working__card-ttl {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.working__card-recycle {
  background-image: url(../images/recycle_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-cafe {
  background-image: url(../images/cafe_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-dental {
  background-image: url(../images/dentaloffice_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-bakery {
  background-image: url(../images/bakely_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-ramen {
  background-image: url(../images/ramen_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-design {
  background-image: url(../images/homedesign_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-piano {
  background-image: url(../images/pianoclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.working__card-study {
  background-image: url(../images/studyclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.commingsoon {
  padding: 158px 24px 64px;
  background-color: #ffffff;
}

.comming__contents {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding-top: 24px;
}
@media (max-width: 768px) {
  .comming__contents {
    flex-wrap: wrap;
  }
}
.comming__contents .cta-btn {
  margin: 0;
}

.comming__img {
  width: 40%;
}
@media (max-width: 768px) {
  .comming__img {
    width: 100%;
  }
}
.comming__img img {
  width: 100%;
  height: auto;
}

.comming__cont-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .comming__cont-text {
    width: 100%;
  }
}

.comming__cont-ttl {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .comming__cont-ttl {
    font-size: 24px;
  }
}

.comming__cont-description {
  font-size: 20px;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .comming__cont-description {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */