@charset "UTF-8";
/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2c3e50;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f9fb;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #2c3e50;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #2c3e50;
}

input, textarea {
  padding: 8px;
  border: 1px solid #2c3e50;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #2c3e50;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}
input[type=submit]:hover, input[type=submit]:focus {
  outline: none;
  border: none;
}
input[type=submit] ::-moz-focus-inner {
  padding: 0;
  border: none;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}
input[type=radio] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #2c3e50;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=radio] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=radio] + span:focus, input[type=radio] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #2c3e50;
}
input[type=radio]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #2c3e50;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=checkbox] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #2c3e50;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}
input[type=checkbox] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #2c3e50;
  border-bottom: 3px solid #2c3e50;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #2c3e50;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
  border: 1px solid #2c3e50;
  box-shadow: none;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: hidden;
}

main {
  background-color: #f7f9fb;
}

/*
    モジュール
*/
.btn a {
  max-width: 250px;
  width: 100%;
  background-color: #1abc9c;
  color: #fff;
  display: block;
  border: 1px solid #1abc9c;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  border-radius: 40px;
  transition: opacity 0.5s ease;
}
@media (max-width: 768px) {
  .btn a {
    font-size: 16px;
  }
}
.btn a:hover {
  opacity: 0.7;
}

.hed2 {
  text-align: center;
  color: #2c3e50;
  font-size: 32px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768px) {
  .hed2 {
    font-size: 24px;
  }
}
.hed2 span {
  position: relative;
  top: -20px;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .hed2 span {
    font-size: 16px;
  }
}

.inner_mask {
  background-color: rgba(54, 54, 54, 0.6);
}

.hed_img .hed_img_inner {
  padding: 130px 60px 40px 60px;
  background-color: rgba(54, 54, 54, 0.6);
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner {
    padding: 80px 30px 30px 30px;
  }
}
.hed_img .hed_img_inner h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner h2 {
    font-size: 20px;
  }
}
.hed_img .hed_img_inner h2 span {
  position: relative;
  top: -20px;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .hed_img .hed_img_inner h2 span {
    font-size: 18px;
    top: -10px;
  }
}

.det_con_cards {
  background-color: #fff;
  padding: 60px;
}
@media (max-width: 768px) {
  .det_con_cards {
    padding: 0;
  }
}
.det_con_cards .det_con_card {
  padding: 30px 60px;
  background-color: #f7f9fb;
  margin: 0 auto 60px auto;
  max-width: 680px;
  width: 100%;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card {
    padding: 30px;
  }
}
.det_con_cards .det_con_card:last-child {
  margin-bottom: 0;
}
.det_con_cards .det_con_card h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.det_con_cards .det_con_card .highlight {
  border: 2px solid #1abc9c;
  color: #1abc9c;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-left: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .det_con_cards .det_con_card .highlight {
    margin-bottom: 20px;
  }
}
.det_con_cards .det_con_card .card_text {
  margin-bottom: 30px;
}
.det_con_cards .det_con_card h4 {
  margin-bottom: 5px;
}
.det_con_cards .det_con_card ul {
  margin-bottom: 30px;
  margin-left: 30px;
}

.header {
  padding: 10px 30px;
  background-color: rgba(44, 62, 86, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
}
.header .header_inner {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .header h1 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 18px;
  }
}
.header h1 a {
  font-size: 28px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #fff;
}
@media (max-width: 992px) {
  .header h1 a {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header h1 a {
    font-size: 18px;
  }
}
.header .header_nav {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .header .header_nav {
    margin-top: 3px;
  }
}
.header .header_nav .menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .header .header_nav .menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    padding: 0;
    position: relative;
    z-index: 100;
  }
}
.header .header_nav .menu-icon {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.header .header_nav .nav_links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .header .header_nav .nav_links {
    display: none;
  }
}
.header .header_nav .nav_links li {
  margin-right: 30px;
  list-style: none;
}
@media (max-width: 768px) {
  .header .header_nav .nav_links li {
    width: 100%;
  }
}
.header .header_nav .nav_links li a {
  color: #fff;
  font-size: 20px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 992px) {
  .header .header_nav .nav_links li a {
    font-size: 16px;
    transform: rotate(0.05deg);
  }
}
.header .header_nav .nav_links li:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .header .active .menu-toggle .menu-icon:nth-child(1) {
    transform: translateY(0) rotate(225deg);
    position: absolute;
    top: 10px;
  }
  .header .active .menu-toggle .menu-icon:nth-child(2) {
    transform: translateY(0) rotate(-225deg);
  }
  .header .active .menu-toggle .menu-icon:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .active .nav_links {
    display: block;
    position: absolute;
    height: 100vh;
    background-color: rgba(44, 62, 86, 0.9);
    top: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header .active li a {
    display: block;
    padding-top: 30px;
    border-bottom: 1px solid #fff;
  }
}

.key_visual {
  background-image: url(../images/home_keyvisual.webp);
  background-position: 50% 44%;
  margin-bottom: 30px;
}
.key_visual .inner_mask {
  padding: 140px 60px 60px 60px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768px) {
  .key_visual .inner_mask {
    padding: 100px 30px 30px 30px;
  }
}
.key_visual .inner_mask h2 {
  color: #fff;
  text-align: center;
  font-size: 45px;
  margin: 0 auto 30px auto;
  max-width: 550px;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
}
@media (max-width: 992px) {
  .key_visual .inner_mask h2 {
    font-size: 40px;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .key_visual .inner_mask h2 {
    font-size: 24px;
    max-width: 300px;
  }
}
.key_visual .inner_mask p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
}
@media (max-width: 768px) {
  .key_visual .inner_mask p {
    font-size: 16px;
  }
}

.service {
  margin-bottom: 60px;
}
.service .ser_intro {
  font-size: 20px;
  color: #2c3e50;
  text-align: center;
  max-width: 780px;
  width: 100%;
  margin: 0 auto 30px auto;
}
@media (max-width: 768px) {
  .service .ser_intro {
    font-size: 16px;
    padding: 0 30px;
  }
}
.service .ser_contents {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 30px auto;
}
@media (max-width: 992px) {
  .service .ser_contents {
    flex-wrap: wrap;
  }
}
.service .ser_contents .ser_content {
  text-align: center;
  border: 1px solid #2c3e50;
  padding: 30px;
  width: 25%;
  background-color: #fff;
}
@media (max-width: 992px) {
  .service .ser_contents .ser_content {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .service .ser_contents .ser_content {
    width: 100%;
  }
}
.service .ser_contents .ser_content i {
  font-size: 63px;
  color: #1abc9c;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .service .ser_contents .ser_content i {
    font-size: 50px;
  }
}
.service .ser_contents .ser_content h3 {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .service .ser_contents .ser_content h3 {
    font-size: 18px;
  }
}
.service .ser_contents .ser_content p {
  text-align: justify;
}

.feature {
  margin-bottom: 60px;
}
.feature .fea_hed2 {
  margin-bottom: 30px;
}
.feature .fea_contents {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .feature .fea_contents {
    flex-wrap: wrap;
  }
}
.feature .fea_contents .fea_content {
  border: 1px solid #2c3e50;
  width: 33.3%;
  padding: 0 30px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .feature .fea_contents .fea_content {
    width: 100%;
    margin-bottom: 30px;
  }
}
.feature .fea_contents .fea_content .number {
  background-color: #1abc9c;
  width: 70px;
  font-size: 40px;
  color: #fff;
  padding: 3px 0;
  text-align: center;
  border-radius: 100px;
  margin: 0 auto;
  position: relative;
  top: -35px;
}
@media (max-width: 768px) {
  .feature .fea_contents .fea_content .number {
    font-size: 20px;
    width: 38px;
    top: -20px;
  }
}
.feature .fea_contents .fea_content h3 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #2c3e50;
}
@media (max-width: 768px) {
  .feature .fea_contents .fea_content h3 {
    font-size: 16px;
  }
}
.feature .fea_contents .fea_content ul li {
  color: #2c3e50;
  margin-bottom: 30px;
  margin-left: 20px;
}

.works {
  margin-bottom: 60px;
}
.works .works_contents {
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 30px auto;
}
.works .works_contents .works_content {
  width: 50%;
  border: 1px solid #2c3e50;
}
@media (max-width: 768px) {
  .works .works_contents .works_content {
    width: 100%;
  }
}
.works .works_contents .works_content a {
  display: block;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
  transition: background-color 0.5s ease;
}
@media (max-width: 768px) {
  .works .works_contents .works_content a {
    padding: 60px 0;
  }
}
.works .works_contents .works_content a:hover {
  background-color: rgba(26, 188, 156, 0.5);
}
@media (max-width: 768px) {
  .works .works_contents .works_content a h3 {
    font-size: 16px;
  }
}
.works .works_contents .works_recycle {
  background-image: url(../images/recycle_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works .works_contents .works_cafe {
  background-image: url(../images/cafe_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works .works_contents .works_dental {
  background-image: url(../images/dentaloffice_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}
.works .works_contents .works_bakely {
  background-image: url(../images/bakely_keyvisual.webp);
  background-size: cover;
  background-position: 0 40%;
}

.price {
  margin-bottom: 60px;
}
.price .price_contents {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .price .price_contents {
    flex-wrap: wrap;
  }
}
.price .price_contents .price_content {
  width: 33.3%;
  border: 1px solid #2c3e50;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative;
}
@media (max-width: 768px) {
  .price .price_contents .price_content {
    width: 100%;
  }
}
.price .price_contents .price_content .price_label {
  background-color: #f1c40f;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  position: absolute;
  top: 36px;
}
@media (max-width: 768px) {
  .price .price_contents .price_content .price_label {
    font-size: 14px;
    top: 10px;
    left: 10px;
  }
}
.price .price_contents .price_content h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 768px) {
  .price .price_contents .price_content h3 {
    font-size: 18px;
  }
}
.price .price_contents .price_content h3 span {
  position: relative;
  top: 0px;
  font-size: 16px;
  font-weight: normal;
}
.price .price_contents .price_content .price_monthly {
  margin-bottom: 40px;
}
.price .price_contents .price_content .price_number {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #1abc9c;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .price .price_contents .price_content .price_number {
    font-size: 20px;
  }
}
.price .price_contents .price_content ul {
  margin-left: 30px;
  color: #2c3e50;
}

.information {
  background-color: #fff;
  padding: 60px;
}
@media (max-width: 768px) {
  .information {
    padding: 60px 30px;
  }
}
.information .info_wrapper {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}
@media (max-width: 768px) {
  .information .info_wrapper ul {
    margin-left: 30px;
  }
}
.information .info_wrapper ul li {
  margin-bottom: 20px;
  color: #2c3e50;
}

.contact {
  padding: 60px;
}
@media (max-width: 768px) {
  .contact {
    padding: 60px 30px;
  }
}
.contact .contact_form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.contact .contact_form .form_group {
  margin-bottom: 30px;
  display: flex;
}
@media (max-width: 768px) {
  .contact .contact_form .form_group {
    flex-wrap: wrap;
  }
}
.contact .contact_form .form_group label {
  vertical-align: top;
  display: block;
  width: 33.3%;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .contact .contact_form .form_group label {
    width: 100%;
  }
}
.contact .contact_form .form_group input {
  max-width: 400px;
  width: 66.7%;
  display: block;
}
@media (max-width: 768px) {
  .contact .contact_form .form_group input {
    width: 100%;
  }
}
.contact .contact_form .form_group textarea {
  max-width: 400px;
  width: 100%;
  height: 300px;
}
.contact .contact_form button {
  max-width: 250px;
  width: 100%;
  background-color: #1abc9c;
  color: #fff;
  display: block;
  border: 1px solid #1abc9c;
  margin: 0 auto;
  padding: 13px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;
  transition: opacity 0.5s ease;
}
.contact .contact_form button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  background-color: #2c3e50;
  padding: 30px;
}
@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }
}
.footer p {
  text-align: center;
  color: #fff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.detail_service .hed_img {
  background-image: url(../images/servicedetail_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}

.detail_recruit .hed_img {
  background-image: url(../images/recruit_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_recruit h3 span {
  position: relative;
  top: -10px;
  font-size: 20px;
}

.detail_price .hed_img {
  background-image: url(../images/service_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_price .det_con_card h3 {
  margin-bottom: 10px;
}
.detail_price .det_con_card h3 span {
  position: relative;
  top: -10px;
  font-size: 20px;
}

.detail_works {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .detail_works {
    padding: 70px 0;
  }
}
.detail_works .det_works_cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.detail_works .det_works_cards .det_works_card {
  width: 50%;
}
@media (max-width: 768px) {
  .detail_works .det_works_cards .det_works_card {
    width: 100%;
  }
}
.detail_works .det_works_cards .det_works_card a {
  padding: 80px;
  display: block;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 1px solid #2c3e50;
  text-shadow: 2px 2px 5px rgba(54, 54, 54, 0.6);
  transition: background-color 0.5s ease;
}
.detail_works .det_works_cards .det_works_card a:hover {
  background-color: rgba(26, 188, 156, 0.5);
}
.detail_works .det_works_cards .card_recycle {
  background-image: url(../images/recycle_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_cafe {
  background-image: url(../images/cafe_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_dental {
  background-image: url(../images/dentaloffice_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_bakery {
  background-image: url(../images/bakely_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_ramen {
  background-image: url(../images/ramen_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_design {
  background-image: url(../images/homedesign_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_piano {
  background-image: url(../images/pianoclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.detail_works .det_works_cards .card_juku {
  background-image: url(../images/studyclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}/*# sourceMappingURL=style.css.map */