// 色の定義


// Main Color
$mc-navy:#1c1e31;
$mc-green:#1abc9c;

// Base Color
$bc-white:#ffffff;
$bc-glay:#f7f9fb;

// Accent Color
$ac-yellow:#f1c40f;

// Mask Color
$mask-black:rgba(54,54,54,0.7);
$mask-green:rgba(26,188,156,0.5);

// 以下消す
$MainColor:#2c3e50;
$BaseColor1:#f7f9fb;
$BaseColor2:#fff;
$AccentColor1:#1abc9c;
$AccentColor2:#f1c40f;
$InnerMask:rgba(54,54,54,0.6);
$WorksHover: rgba(26, 188, 156,0.5);
$MainColorMask:rgba(44,62,86,0.9);
