.working{
  padding: 158px 24px 64px;
  background-color: $bc-glay;
  @include sp{
    padding: 118px 24px 48px;
  }
}
.working__contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  flex-wrap: wrap;
  @include sp{
    gap: 24px;
  }
}
.working__card{
  width: 50%;
  display: block;
  @include sp{
    width: 100%;
  }
}
.working__card-inner{
  background-color: $mask-black;
  padding: 100px 24px;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: $mask-green;
  }
}
.working__card-ttl{
  text-align: center;
  font-size: 20px;
  color: $bc-white;
}

.working__card-recycle{
  background-image: url(../images/recycle_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-cafe{
  background-image: url(../images/cafe_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-orgatask{
  background-image: url(../images/OrgaTask.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-bakery{
  background-image: url(../images/bakely_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-ramen{
  background-image: url(../images/ramen_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-design{
  background-image: url(../images/homedesign_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-piano{
  background-image: url(../images/pianoclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
.working__card-study{
  background-image: url(../images/studyclass_keyvisual.webp);
  background-size: cover;
  background-position: 50% 40%;
}
